<div class="jumbotron">
  <div class = "col-xs-6 col-xs-offset-3">
      <%= flash_messages %>
  </div>
</div>

<div class="container">
  <div class="col-xs-12">
    <div id="logbox">
      <%= form_for @user, url: '/sessions', method: 'post' do |f| %>
        <h1 class="formText">Log In</h1>
        <%= f.text_field :email, placeholder: 'Email', class: "inputForm pass" %>
        <%= f.password_field :password, placeholder: 'Password', class: "inputForm pass" %>
        <%= f.submit "Log In", class: "inputButton" %>
      <% end %>
			</form>
    </div>
  </div>
</div>
