<div class="jumbotron">
  <div class = "col-xs-6 col-xs-offset-3">
      <%= flash_messages %>
  </div>
</div>

<div class="container">
  <div class="col-xs-12">
    <div id="logbox">
      <%= form_for @user do |f| %>
        <h1 class="formText">Edit User</h1>
        <%= f.text_field :first_name, placeholder: "First Name", class: "inputForm pass" %>
        <%= f.text_field :last_name, placeholder: "Last Name", class: "inputForm pass" %>
        <%= f.text_field :current_city, placeholder: "Current City", class: "inputForm pass" %>
        <%= f.text_field :email, placeholder: "Email", class: "inputForm pass" %>
        <%= f.password_field :password, placeholder: "Password", class: "inputForm pass" %>
        <%= f.submit "Edit", class: "inputButton" %>
      <% end %>
			</form>
    </div>
  </div>
</div>
