<div class="jumbotron">
  <div class = "col-xs-6 col-xs-offset-3">
      <%= flash_messages %>
  </div>
</div>

<div class="container">

  <div class="col-xs-12">

    <div id="logbox">
      <p id="protip">Protip: <strong>Verify your email is correct before signup, as it is used for managing your account (e.g, password reset requests). </strong></p><br />
      <%= form_for @user do |f| %>
        <h1 class="formText">Sign Up</h1>
        <%= f.text_field :first_name, placeholder: "First Name", class: "inputForm pass" %>
        <%= f.text_field :last_name, placeholder: "Last Name", class: "inputForm pass" %>
        <%= f.text_field :current_city, placeholder: "Current City", class: "inputForm pass" %>
        <%= f.text_field :email, placeholder: "Email", class: "inputForm pass" %>
        <%= f.text_field :image_url, placeholder: "http://my.picture.com/pic.png", class: "inputForm pass" %>
        <%= f.password_field :password, placeholder: "Password", class: "inputForm pass" %>
        <%= f.submit "Sign Up", class: "inputButton" %>
      <% end %>
			</form>
    </div>
  </div>
</div>
