<h2 style="text-align:center"><strong>Edit Post</strong></h2>

<div class="register">

  <%= form_for :post, url: update_post_path, method: :patch do |f| %>
    <div class="register-input">
      <%= f.text_field :title, placeholder: "Title" %>
    </div>
    <div class="register-input">
      <%= f.text_area :content, placeholder: "Content" %>
    </div>
    <div class="register-input">
      <%= f.text_field :image, placeholder: "Image" %>
    </div>
    <%= f.submit "Edit" %>
  <% end %>

</div>
