<div class="col-xs-3">
  <div class="row">
    <div class="col-xs-10">
      <% if @post.user.image_url == nil%>
        <img src="http://i.imgur.com/ixpF82Y.png" class="img-responsive img-circle">
      <% else %>
        <div class="product_img img-responsive img-circle"><%= link_to (image_tag (@post.user.image_url)) %></div>
      <% end %>
    </div>
  </div>
  <br>
  <div class="row">
    <h3><%=  @post.user.first_name %> <%=  @post.user.last_name %> </p>
    <h4>Date Joined: <%= @post.user.created_at.localtime.strftime("%B #{@post.user.created_at.day.ordinalize}, %Y") %> </p>
    <h4> <%=  @post.user.current_city %> </p>
    <br>
    <div>
      <button class="btn-info btn-primary btn-lg"> <%= link_to "Edit", edit_user_path(@post.user), :class=>"ruby-link" %> </button>
    </div>
  </div>
</div>

<div class="col-md-9">

<h1> <%= @post.title %> </h1>

<img src="<%= @post.image %>" alt="post picture">

<p>
<%= @post.content %>
</p>
