<div class="col-xs-3">
  <div class="row">
    <div class="col-xs-10">
      <% if @post.user.image_url == nil%>
        <img src="http://i.imgur.com/ixpF82Y.png" class="img-responsive img-circle">
      <% else %>
        <div class="product_img img-responsive img-circle"><%= link_to (image_tag (@post.user.image_url)) %></div>
      <% end %>
    </div>
  </div>
  <br>
  <div class="row">
    <h3><%=  @post.user.first_name %> <%=  @post.user.last_name %> </p>
    <h4>Date Joined: <%= @post.user.created_at.localtime.strftime("%B #{@post.user.created_at.day.ordinalize}, %Y") %> </p>
    <h4> <%=  @post.user.current_city %> </p>
    <br>
  </div>
</div>

<div class="col-xs-9">
  <div class="panel panel-default">
    <div class="panel-heading">
       <h2> <%= @post.title %> </h2>
    </div>
    <div class="row">
      <div class="panel-body">
        <div class="col-xs-8 col-xs-offset-2 post-image-container">
          <img src="<%= @post.image %>" class = "img-responsive img-rounded center-block" alt="post picture">
        </div>
      </div>
    </div>
    <div class="panel-body">
      <p> <%= @post.content %> Pour-over twee scenester. Retro street art quinoa, listicle cronut pour-over skateboard intelligentsia butcher chartreuse authentic small batch fap. Fixie hammock man braid vegan, pinterest kinfolk keffiyeh humblebrag man bun kitsch paleo 90's. Occupy trust fund pitchfork, letterpress disrupt portland lomo scenester street art listicle affogato selvage schlitz. Bitters pork belly tattooed, cold-pressed authentic chartreuse tote bag brunch kickstarter +1 mustache tumblr whatever sriracha. </p>
    </div>
    <br>
  </div>



<p>
</p>
